<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == "right" %}
        <div class="row">
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
        </div>
        {% else %}
        <div class="row">
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
        </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}

    <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=Mo9TR7V9PlIz2-iErjb-LDX_ub8EZ5DVu6TsWAr_UB0&cl=ffffff&w=a"></script>

    <style>
      #mapmyvisitors-widget,
      #mapmyvisitors-widget *,
      .mapmyvisitors-map-control {
        display: none !important;
        visibility: hidden !important;
        height: 200 !important;
        width: 200 !important;
        overflow: hidden !important;
      }
    </style>
  </body>
</html>

